@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400);
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../scss/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../scss/css.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #aaa;
}

/* line 21, ../scss/css.scss */
h1 {
  font-size: 7em;
  line-height: 1em;
  letter-spacing: -0.1em;
  margin: 0;
}

/* line 30, ../scss/css.scss */
#board {
  border: 2px solid #999;
}
/* line 33, ../scss/css.scss */
#board tr td {
  width: 11.1%;
  height: 11.1%;
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}
/* line 47, ../scss/css.scss */
#board tr td:hover {
  background: #ffc;
}
/* line 51, ../scss/css.scss */
#board tr td:nth-child(3) {
  border-right: 2px solid #666;
}
/* line 55, ../scss/css.scss */
#board tr td:nth-child(6) {
  border-right: 2px solid #666;
}
/* line 59, ../scss/css.scss */
#board tr td:nth-child(9) {
  border-right: 0;
}
/* line 63, ../scss/css.scss */
#board tr:nth-child(3) td {
  border-bottom: 2px solid #666;
}
/* line 67, ../scss/css.scss */
#board tr:nth-child(6) td {
  border-bottom: 2px solid #666;
}

/* line 73, ../scss/css.scss */
.btn {
  display: block;
  float: left;
  margin: 9px 0 0 5px;
  padding: 10px;
  text-align: center;
  background-color: #09c;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
/* line 83, ../scss/css.scss */
.btn:hover {
  background-color: #0c9 !important;
}

/* line 88, ../scss/css.scss */
#btnnew {
  background-color: #c90;
}

/* line 93, ../scss/css.scss */
#status {
  clear: both;
  padding-top: 10px;
  font-size: 11px;
}

/* line 99, ../scss/css.scss */
input {
  border: 0;
  margin: 0;
  font-size: 2em;
  width: 95%;
  height: 95%;
  color: #999;
  background: transparent;
  text-align: center;
  outline: none;
  overflow: hidden;
  font-family: "Open Sans", Arial, sans-serif;
  touch-action: none;
  box-shadow: none;
  line-height: 1;
}

/* line 118, ../scss/css.scss */
.empty input {
  color: #000;
  cursor: pointer;
}

/* line 123, ../scss/css.scss */
.filled {
  background: #eee !important;
}

/* line 128, ../scss/css.scss */
.corrected {
  background: #fcc;
}
/* line 130, ../scss/css.scss */
.corrected input {
  color: #c00;
}

/* line 136, ../scss/css.scss */
.entered input {
  color: #ccc;
}

/* line 141, ../scss/css.scss */
.valid {
  background: #afa;
}
/* line 143, ../scss/css.scss */
.valid input {
  color: #0a0;
}

/* line 148, ../scss/css.scss */
#numbers {
  width: 500px;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}

/* line 149, ../scss/css.scss */
#numbers span {
  display: inline-block;
  border-radius: 20px;
  background: #09c;
  color: #fff;
  padding: 2px 6px;
  font-size: 1.4em;
  cursor: pointer;
  margin: 0 .05em;
  font-weight: 800;
}

/* line 150, ../scss/css.scss */
#numbers span:last-child {
  background: #b00;
}

/* line 152, ../scss/css.scss */
.active {
  background: #ffd;
}

/* line 158, ../scss/css.scss */
#container {
  width: 500px;
  height: 500px;
  margin: 0;
}

/* line 164, ../scss/css.scss */
.board {
  padding: 8px;
}

@media screen and (max-width: 500px) {
  /* line 173, ../scss/css.scss */
  body {
    font-size: 60%;
  }

  /* line 174, ../scss/css.scss */
  #container {
    min-width: 300px;
    display: inline-block;
    position: relative;
    width: 98%;
    height: auto;
  }
  /* line 180, ../scss/css.scss */
  #container:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  /* line 186, ../scss/css.scss */
  .board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
  }

  /* line 194, ../scss/css.scss */
  #numbers {
    width: 98%;
    min-width: 300px;
    margin: 0;
  }
}
@media screen and (max-width: 300px) {
  /* line 202, ../scss/css.scss */
  body {
    font-size: 40%;
  }

  /* line 203, ../scss/css.scss */
  #container {
    min-width: 200px;
    display: inline-block;
    position: relative;
    width: 98%;
    height: auto;
  }
  /* line 209, ../scss/css.scss */
  #container:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  /* line 215, ../scss/css.scss */
  .board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
  }

  /* line 223, ../scss/css.scss */
  #numbers {
    width: 98%;
    font-size: 1.5em;
    min-width: 200px;
    margin: 0;
  }
}
