@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400);

$font: 'Open Sans', Arial, sans-serif;

$smallscreen: "screen and (max-width: 500px)";
$tinyscreen: "screen and (max-width: 360px)";

// basics

body {
	font: {
		family: $font;
		weight: 400;
	}
	color: #aaa;
}

h1 {
	font-size: 5em;
	line-height: 1em;
	letter-spacing: -.1em;
	margin: 0;
}

#hdr {
	position: relative;
	max-width: 484px;
	padding:0 7px;
	span {
		position: absolute;
		cursor:pointer;
		font-weight: 800;
	}
	#menu {
		right: 6px;
		top: 10px;
		font-size: 2em;
		color: #09c;
		&:hover {
			color: #0ad;
		}
	}
	#timer {
		right: 6px;
		bottom: 6px;
		color: #ddd;
		font-size: 1.5em;
	}
}

#board {
	border:5px solid #999;
	tr {
		td {
			width: 11.1%;
			height: 11.1%;
			text-align: center;
			padding: 0;
			margin: 0;
			vertical-align: middle;
			border-collapse: collapse;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		td:hover {
			background:#ffc;
		}
		td:nth-child(3) {
			border-right: 2px solid #aaa;
		}
		td:nth-child(6) {
			border-right: 2px solid #aaa;
		}
		td:nth-child(9) {
			border-right: 0;
		}
	}
	tr:nth-child(3) td {
		border-bottom: 2px solid #aaa;
	}
	tr:nth-child(6) td {
		border-bottom: 2px solid #aaa;
	}
}

#btns {
	max-width: 484px;
	padding: 8px;
	div.col3 {
		width: 33.3%;
		min-width:65px;
		float: left;
		div {
			margin: 0 2px;
			padding: 10px;
			text-align: center;
			background: #09c;
			color: #fff;
			font-size: 1.4em;
			letter-spacing: -.05em;
			font-weight: 800;
			cursor: pointer;
			white-space: nowrap;
			&:hover {
				background: #0b7 !important;
			}
		}
	}
	#btnnew {
		background: #c90;
	}
	#btnsolve {
		background: #c00;
	}
}


#status {
	clear: both;
	padding-top: 10px;
	font-size: 11px;
}

input {
		border: 0;
		margin: 0;
		font-size: 2em;
		width: 95%;
		height: 95%;
		color: #999;
		background: transparent;
		text-align: center;
		outline: none;
		overflow: hidden;
		font-family: $font;
		touch-action: none;
		box-shadow: none;
		line-height:1;

	}
.empty {
	//background: transparent;
	input {
		color: #000;
		cursor: pointer;
	}
}
.filled {
	background: #eee !important;
}


.corrected {
	background: #fcc;
	input {
		color: #a00;
	}
}

.entered {
	input {
		color: #ccc;
	}
}

.valid {
	background:#afa;
	input {
		color:#070;
	}
}

#numbers {
	width: 500px;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
	clear: both;
	&:before, &:after {
		content: "";
		content: none;
	}
	span {
		display: inline-block;
		border-radius: 20px;
		background: #09c;
		color: #fff;
		padding: 2px 6px;
		font-size: 1.4em;
		cursor: pointer;
		margin: 0 .05em;
		font-weight: 800;
		&:hover {
			background:#069;
		}
		&:last-child {
			background: #b00;
		}
		&:last-child:hover {
			background: #600;
		}
	}
}

.active {background: #ffd;}



// default sizing

#container {
	width: 500px;
	height: 500px;
	margin: 0;
	&:before, &:after {
		content: "";
		content: none;
	}
}

#sudoku {
	padding:8px;
}



// sizing for smaller screens

@media #{$smallscreen} {
	body {font-size:80%;}
	#container {
		min-width: 300px;
		display: inline-block;
		position: relative;
		width: 100%;
		height: auto;
		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
	}
	#sudoku {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding:4px;
	}
	#numbers {
		width: 100%;
		min-width: 300px;
		margin: 0;
	}
}

@media #{$tinyscreen} {
	body {font-size:60%;}
	#container {
		min-width: 200px;
		display: inline-block;
		position: relative;
		width: 100%;
		height: auto;
		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
	}
	#sudoku {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 2px;
	}
	#numbers {
		width: 98%;
		font-size: 1.4em;
		min-width: 200px;
		margin: 0;
	}
}
